<div>  

    <div class="jumbotron">
        <h1 class="display-4">{{datos.nombre}}</h1>
        
        <p class="lead">{{datos.raza}}</p>
      
      </div>

    <form style="width: 600px;" class="mt-4 ml-4 mr-4 mb-4">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control"  name="name" placeholder="Enter weapon name" [(ngModel)]="datosWeapon.name"> 
        </div>
        <div class="form-group">
            <label>Type</label>
            <input type="text" class="form-control"  name="type" placeholder="Enter weapon type" [(ngModel)]="datosWeapon.type"> 
        </div>
        <div class="form-group">
            <label>userID</label>
            <input type="number" class="form-control" disabled="true" name="userID" placeholder="Enter userID" [(ngModel)]="datosWeapon.userID"> 
        </div>
        <button (click)="createWeapon()" type="submit" class="btn btn-danger">Agregar arma a personaje</button>
        <button (click)="bring(); setValue()" type="submit" class="btn btn-secondary">Set Value</button>
    </form>

    <ul *ngFor="let weapon of weaponsList" class="list-group">
        <li class="list-group-item">
            {{weapon.name}}

            <span class="badge badge-primary badge-pill">{{weapon.userID}}</span>

        </li>
      
      </ul>

</div>